---
import Layout from "../layouts/Layout.astro"
---
<Layout title="404 Not Found" description="This page does not exists">
  <div class="div h-[79vh] w-screen flex flex-col flex-wrap gap-2 justify-center items-center">
    <h1 class="text-bright text-2xl font-bold">Well, this is <span class="text-fg">awkward...</span></h1>
  </div>
</Layout>
<style>
</style>
