---
import Layout from "../layouts/Layout.astro";
---

<Layout title="aryan's achievements" description="List of personal projects">
    <div class="text-slate-50 py-2 sm:py-8 md:py-8 lg:py-4 text-lg leading-10">
        <section class="flex flex-col items-center justify-center w-full">
            <h1
                class="text-xl sm:text-2xl xs:my-8 my-2 mb-4 px-4 font-serif text-neutral-500 w-full lg:w-1/2 md:w-2/3 text-left py-4"
            >
                competitive<span class="text-fg font-serif"> programming</span>
            </h1>
            <div class="flex flex-wrap w-full lg:w-1/2 md:w-2/3">
                <div class="card w-full md:w-1/2 lg:w-1/2 self-stretch">
                    <a
                        class={`cursor-pointer flex flex-col gap-3 j % 2 == 0 ? "md:pl-4 pr-2 pl-2" : "md:pr-4 pl-2 pr-2"} py-2 h-full`}
                    >
                        <div
                            class="border-neutral-800 lg:px-8 lg:py-6 md:px-4 px-4 py-4 bg-[#090909] rounded-lg"
                        >
                            <p class="font-serif text-xl text-fg">Specialist</p>
                            <p
                                class="font-light mt-2 md:mt-4 mb-4 leading-6 text-[16px] text-bright"
                            >
                                Reached specialist rank on Codeforces with a rating of 1471 on 20 February 2025. Took me 7 contests to reach this rating. Current rating is 1548.
                            </p>
                            <div class="flex gap-4 flex-wrap self-center">
                                <span
                                    class="bg-[#1a1a1a] py-[3px] text-neutral-400 text-sm px-2 font-mono rounded-2xl"
                                >
                                    c++
                                </span>
                                <span
                                    class="bg-[#1a1a1a] py-[3px] text-neutral-400 text-sm px-2 font-mono rounded-2xl"
                                >
                                    python
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card w-full md:w-1/2 lg:w-1/2 self-stretch">
                    <a
                        class={`cursor-pointer flex flex-col gap-3 j % 2 == 0 ? "md:pl-4 pr-2 pl-2" : "md:pr-4 pl-2 pr-2"} py-2 h-full`}
                    >
                        <div
                            class="border-neutral-800 lg:px-8 lg:py-6 md:px-4 px-4 py-4 bg-[#090909] rounded-lg"
                        >
                            <p class="font-serif text-xl text-fg">Pre-Knight</p>
                            <p
                                class="font-light mt-2 md:mt-4 mb-4 leading-6 text-[16px] text-bright"
                            >
                                Currently 1810 rated on LeetCode that comes under top 7.21%. Took me 7 contests to reach this specific rating.
                            </p>
                            <div class="flex gap-4 flex-wrap self-center">
                                <span
                                    class="bg-[#1a1a1a] py-[3px] text-neutral-400 text-sm px-2 font-mono rounded-2xl"
                                >
                                    c++
                                </span>
                                <span
                                    class="bg-[#1a1a1a] py-[3px] text-neutral-400 text-sm px-2 font-mono rounded-2xl"
                                >
                                    python
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="flex flex-wrap w-full lg:w-1/2 md:w-2/3">
                <div class="card w-full md:w-1/2 lg:w-1/2 self-stretch">
                    <a
                        class={`cursor-pointer flex flex-col gap-3 j % 2 == 0 ? "md:pl-4 pr-2 pl-2" : "md:pr-4 pl-2 pr-2"} py-2 h-full`}
                    >
                        <div
                            class="border-neutral-800 lg:px-8 lg:py-6 md:px-4 px-4 py-4 bg-[#090909] rounded-lg"
                        >
                            <p class="font-serif text-xl text-fg">CodeChef</p>
                            <p
                                class="font-light mt-2 md:mt-4 mb-4 leading-6 text-[16px] text-bright"
                            >
                                3* on CodeChef with a rating of 1600+. Took me 3 contests to reach this rating and a whole month. Current rating is 1655.
                            </p>
                            <div class="flex gap-4 flex-wrap self-center">
                                <span
                                    class="bg-[#1a1a1a] py-[3px] text-neutral-400 text-sm px-2 font-mono rounded-2xl"
                                >
                                    c++
                                </span>
                                <span
                                    class="bg-[#1a1a1a] py-[3px] text-neutral-400 text-sm px-2 font-mono rounded-2xl"
                                >
                                    python
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </div>
</Layout>
