---
import Layout from "../layouts/Layout.astro";
let a = [["Oreon Project", "Jul 2024 - Present", "Web Developer"],["Design Mentor", "Jun 2024 - Present", "Software Engineer"], ["Crediometer", "Sep 2021 - Jan 2022", "Frontend Developer"]];
---

<Layout title="aryan's place" description="aryan's personal website and blog.">
    <div class="w-full flex justify-center md:pt-8 flex-col items-center gap-2">
        <div class="md:w-2/3 pt-4 px-4 w-full lg:w-1/2 flex-col">
            <div class="flex gap-4 items-center">
                <img
                    src="https://avatars.githubusercontent.com/u/171474156?v=4"
                    alt="pfp"
                    class="h-10 md:h-12 w-10 md:w-12 rounded-full border-[1px] border-fg"
                />
                <h1 class="text-xl md:text-2xl text-left py-2 text-fg self-end">
                    Aryan
                </h1>
                <h1
                    class="mb-[2px] md:mb-0 text-sm py-3 text-neutral-500 text-left self-end"
                >
                    14M (he/him)
                </h1>
            </div>
            <p class="mt-6 text-[16px] md:text-[18px] text-bright">
                hola amigo. i am a <span class="text-fg"
                    >competitive programmer</span
                >, <span class="text-fg">web dev</span> and a <span
                    class="text-fg">ui/ux designer</span
                >.
            </p>
            <p class="mt-4 text-[16px] md:text-[18px] text-bright">
                just a random guy who has been doing <span class="text-fg">web dev</span> since 2018; still exploring and learning various topics. i like to solve <span class="text-fg">codeforces</span> problems in my free time. started coding out of curiosity and now obsessed with problem-solving and building random stuff.
            </p>
            <p class="mt-4 text-[16px] md:text-[18px] text-bright">
                currently working on my project <a
                    href="https://designmentor.vercel.app/"
                    class="text-fg underline">design mentor</a
                > and learning <span class="text-fg">c</span> and <span class="text-fg">rust</span>.
            </p>
            <div class="flex gap-4 md:gap-8 mt-4">
                <a
                    href="https://linkedin.com/in/aryantri14/"
                    class="underline text-fg text-[16px] md:text-[18px]"
                    >↗ linkedin</a
                >
                <a
                    href="https://github.com/aryannn053"
                    class="underline text-fg text-[16px] md:text-[18px]"
                    >↗ github</a
                >
                <a
                    href="https://x.com/aryantri13"
                    class="underline text-fg text-[16px] md:text-[18px]"
                    >↗ x dot com</a
                >
                <a
                    href="https://bento.me/aryxnn"
                    class="underline text-fg text-[16px] md:text-[18px]"
                    >↗ bento</a
                >
            </div>
            <div class="my-8 h-[2px] px-16 bg-bg3 inline-block"></div>
            <h1 class="text-[16px] md:text-[18px]  text-fg">
                <span class="text-neutral-500 ">(Some of my)</span> Projects
                <a href="https://github.com/aryannn053"
                    ><i class="ph ml-2 ph-arrow-right text-sm"></i></a
                >
            </h1>
            <div
                class="cardscontainer mt-4 flex flex-wrap w-full justify-center"
            >
                <div class="project py-2 px-0 md:px-2 text-fg w-full md:w-1/3">
                    <a href="https://github.com/aryannn053/amazon">
                        <div class="rounded-xl bg-mbg/80 p-4">
                            <div class="text-[16px] ">amazon</div>

                            <div class="text-bright text-[14px]">
                                a simple full stack amazon clone
                            </div>
                            <p class="text-md text-neutral-500">
                                react ⋅ firebase
                            </p>
                        </div>
                    </a>
                </div>
                <div class="project py-2 px-0 md:px-2 text-fg w-full md:w-1/3">
                    <a href="https://github.com/aryannn053/dictionary">
                        <div class="rounded-xl bg-mbg/80 p-4">
                            <div class="text-[16px] ">arytionary</div>

                            <div class="text-bright text-[14px]">
                                an easy to use dictionary web app
                            </div>
                            <p class="text-md text-neutral-500 ">
                                next ⋅ tailwind
                            </p>
                        </div>
                    </a>
                </div>
                <div class="project py-2 px-0 md:px-2 text-fg w-full md:w-1/3">
                    <a href="https://github.com/aryannn053/quoteapi">
                        <div class="rounded-xl bg-mbg/80 p-4">
                            <div class="text-[16px] ">quoteapi</div>
                            <div class="text-bright text-[14px]">
                                quote generator using zen quotes api
                            </div>
                            <p class="text-md text-neutral-500 ">
                                python ⋅ api
                            </p>
                        </div>
                    </a>
                </div>
                <div class="project px-0 md:px-2 py-2 text-fg w-full md:w-1/3">
                    <a href="https://github.com/Btechtards/TCS-Bhediya">
                        <div class="rounded-xl bg-mbg/80 p-4">
                            <div class="text-[16px] ">tcs bhediya (team)</div>
                            <div class="text-bright text-[14px]">
                                useful discord bot for btech students
                            </div>
                            <p class="text-md text-neutral-500 ">
                                javascript ⋅ postgres
                            </p>
                        </div>
                    </a>
                </div>
                <div class="project py-2 px-0 md:px-2 text-fg w-full md:w-1/3">
                    <a href="https://github.com/aryannn053/recruitrain">
                        <div class="rounded-xl bg-mbg/80 p-4">
                            <div class="text-[16px] ">recruitrain</div>
                            <div class="text-bright text-[14px]">
                                a minimal full stack job board (wip)
                            </div>
                            <p class="text-md text-neutral-500 ">
                                next ⋅ firebase
                            </p>
                        </div>
                    </a>
                </div>
                <div class="project py-2 px-0 md:px-2 text-fg w-full md:w-1/3">
                    <a href="https://github.com/aryannn053/todo">
                        <div class="rounded-xl bg-mbg/80 p-4">
                            <div class="text-[16px] ">todo</div>
                            <div class="text-bright text-[14px]">
                                todo list app built using flask
                            </div>
                            <p class="text-md text-neutral-500 ">
                                flask ⋅ crud
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <!-- https://avatars.githubusercontent.com/u/174254596?s=200&v=4 -->
            <h1 class="text-[16px] md:text-[18px]  text-fg mt-8 mb-2">
                <span class="text-neutral-500 ">Work</span> Experience <a
                    ><i class="ph ml-2 ph-arrow-right text-sm"></i></a
                >
            </h1>
            <ul class="list-inside">
                {
                    a.map(i => {
                        return (
                            <li class="cursor-pointer md:my-4 my-3 w-full">
                                <div
                                    class="flex justify-between w-full"
                                >
                                    <p class="text-fg lowercase text-[16px]">
                                        {i[0]}
                                        <br/>
                                        <span class="text-neutral-400 lowercase text-[16px]">
                                            {i[2]}
                                        </span>
                                    </p>
                                    <span class="mr-2 text-[14px] text-neutral-500">
                                        {i[1]}
                                    </span>
                                </div>
                            </li>
                        );
                    })
                }
            </ul>
            </p>
        </div>
    </div>
</Layout>
